:root {
  --color-primary-normal: #000;
  --color-primary-hover: #0000ff;

  --bg-color-primary-normal: #858585;

  --border-color: #00ff00;
}

body {
  font-family: serif;
  font-size: 16px;
  box-sizing: border-box;
  color: var(--color-primary-normal);
  font-family: 'Zen Kaku Gothic Antique';

}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: white;
}
p {
  margin-bottom: 2rem;
  line-height: 1.25rem;
  letter-spacing: 0.75px;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}
a {
  display: block;
  color: var(--color-primary-normal);
  text-decoration: none;
}
a:hover {
  color: var(--color-primary-hover);
}
.flex {
  display: flex;
}

/* header area */
header {
  padding: 10px 5%;
  background: var(--color-primary-normal);
  align-items: center;
  position: fixed;
  width: 100%;
  margin-bottom: 20px;
}
nav {
  width: 80%;
}
ul {
  width: 100%;
  justify-content: center;
}
nav a {
  text-transform: uppercase;
  color: white;
  font-style: 32px;
  transition: all .2s ease-in-out;
}

nav a:hover {
  color: yellow;
  transform: scale(1.2);
  transition: all .2s ease-in-out;
}

nav li {
  margin: 0 20px;
}

.current-page {
  border-bottom: 2px solid white;
  padding-bottom: 6px;
}

.current-page:hover {
  border-bottom: 2px solid yellow;
}

.logo {
  width: 200px;
}