:root {
  --bg-color-primary-normal: #858585;
}

.hero {
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("../img/main-banner.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
.hero h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 5rem;
  text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
}

section {
}
.flex-reverse {
  flex-direction: row-reverse;
}
.preview {
  width: 50%;
  padding: 25px 0;
  text-align: center;
}
.preview img {
  border-radius: 50%;
}
.content {
  width: 50%;
  background-color: black;

}
.inner-text {
  height: 100%;
  padding: 0 10%;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.inner-text h2{
  font-size: 3rem;
  font-weight: bold;
}
