:root {
  --bg-color-primary-normal: #858585;
}

.hero {
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("../img/bg_index_main-banner.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
.hero h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 5rem;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5);
}

section {
  /* height: 350px; */
}
.flex-reverse {
  flex-direction: row-reverse;
}
.self-photo {
  width: 50%;
  padding: 25px 0;
  text-align: center;
}
.self-photo img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  object-position: top center;
  border-radius: 50%;
}
.content {
  width: 50%;
  background-color: black;
}
.inner-text {
  height: 100%;
  padding: 0 10%;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.inner-text h2 {
  font-size: 3rem;
}
