<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- -----FAVICON----- -->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	
	<!-- -----GOOGLE FONT----- -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Redressed&family=Zen+Kaku+Gothic+Antique:wght@300;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/basic-style.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/omar.css">


	<title>Geeks {CSS}</title>

</head>
<body>
	<header class="flex">
		<div class="logo">
			<a href="../index.html"><img src="../img/logo-geeks-css.png" alt="logo"></a>
		</div>
		<nav>
			<ul class="flex">
				<li><a href="../index.html">home</a></li>
				<li><a href="./vini.html">vini</a></li>
				<li><a href="./tomo.html">tomo</a></li>
				<li class="current-page"><a href="#">omar</a></li>
				<li><a href="./emir.html">emir</a></li>
			</ul>
		</nav>
	</header>	<main>
		<section>
			<div class="container">
				<div class="inner">
					<h2>Font Family elements</h2>	
					<po>The <obold>font-style</obold> property is mostly used to specify italic text.</po><br><br>
					<po>This property has three values:</po>
				</div>
			</div>
			<div class="containerOS demo">
				<div class="inner">
					<div class="flex">
						<div class="code">
							<o1>font-style: normal; - The text is shown normally</o1><br><br>
							<o2>font-style: italic - The text is shown in italics</o2><br><br>
							<o3>font-style: oblique - The text is "leaning" (oblique 
								is very similar to italic, but less supported)</o3><br><br>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container">
				<div class="inner">
					<po>The <obold>font-weight</obold> property specifies the weight of a font:</po><br><br>
					<po>This property has two values:</po>
				</div>
			</div>
			<div class="containerOS demo">
				<div class="inner">
					<div class="flex">
						<div class="code">
							<o1b>font-weigth: bold; - The text is shown bolded</o1><br><br>
							<o2n>font-weight: normal; - The text is shown normally</o2><br><br>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container">
				<div class="inner">
					<po>The <obold>font-Variant</obold> property specifies the weight of a font:</po><br><br>
					<po>This property has two values:</po>
				</div>
			</div>
			<div class="containerOS demo">
				<div class="inner">
					<div class="flex">
						<div class="code">
							<o1vn>font-variant: normal; - The text is shown normal</o1><br><br>
							<o2vs>font-variant: small-caps; - The text is shown with small caps</o2><br><br>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container">
				<div class="inner">
					<h2>Ok , now let's play </h2>
				</div>
			</div>
			<div class="containerO5 demo">
				<div class="inner">
					<div class="code">
						<p class="codepen" data-height="400" data-theme-id="dark" data-default-tab="html,result" data-slug-hash="dyZJxeR" data-preview="true" data-editable="true" data-user="omarvco" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
							<span>See the Pen <a href="https://codepen.io/omarvco/pen/dyZJxeR">
							Untitled</a> by OmarVCO (<a href="https://codepen.io/omarvco">@omarvco</a>)
							on <a href="https://codepen.io">CodePen</a>.</span>
						  </p>
						  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
</html>