<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- -----FAVICON----- -->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	
	<!-- -----GOOGLE FONT----- -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Redressed&family=Zen+Kaku+Gothic+Antique:wght@300;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/basic-style.css">
	<link rel="stylesheet" href="../css/common.css">

	<title>Geeks {CSS}</title>

</head>
<body>
	<header class="flex">
		<div class="logo">
			<a href="../index.html"><img src="../img/logo-geeks-css.png" alt="logo"></a>
		</div>
		<nav>
			<ul class="flex">
				<li><a href="../index.html">home</a></li>
				<li><a href="./vini.html">vini</a></li>
				<li class="current-page"><a href="#">tomo</a></li>
				<li><a href="./omar.html">omar</a></li>
				<li><a href="./emir.html">emir</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<div class="container">
				<div class="inner">
					<h2>Line height</h2>
					<p>The line-height property defines the amount of space above and below. <br>
						This is work for inline elements so a element is set to display: inline or inline-block.</p>
					<p>This property accept the keyword values "normal" or "none" as well as number, length, percentage. <br>
					if number set as values without unit, then total height of line will be the number of value times the height of text itself.</p>
				</div>
			</div>
			<div class="container demo">
				<div class="inner">
					<h3>How to apply</h3>
					<div class="code">
						<p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="eYeyXQx" data-editable="true" data-user="hare99" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
							<span>See the Pen <a href="https://codepen.io/hare99/pen/eYeyXQx">
							Untitled</a> by Tomo (<a href="https://codepen.io/hare99">@hare99</a>)
							on <a href="https://codepen.io">CodePen</a>.</span>
						</p>
					</div>
				</div>

			</div>
		</section>
		<section>
			<div class="container">
				<div class="inner">
					<h2>Letter spacing</h2>
					<p>The letter-spacing property defines the amount of space between each letter in a given element or block of text.</p>
					<p>This property accept font-relative values(em, rem), percentage(%), absolute values(px) and the keyword: normal. </p>
					<p>Most important point to use letter-spacing is every value you set ADD to the default spacing based on the font. On the other hand, you will set negative values if you want to make the spaces less tighten than the default. </p>
				</div>
			</div>
			<div class="container demo">
				<div class="inner">
					<h3>How to apply</h3>
					<div class="code">
						<p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="wvPywKb" data-editable="true" data-user="hare99" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
							<span>See the Pen <a href="https://codepen.io/hare99/pen/wvPywKb">
							Untitled</a> by Tomo (<a href="https://codepen.io/hare99">@hare99</a>)
							on <a href="https://codepen.io">CodePen</a>.</span>
						</p>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="inner">
					<h2>Text decoration</h2>
					<p>The text-decoration property adds an underline, overline, line-through, or a combination of lines on selected text.</p>
					<p>This property accept: none, underline, line-through, overline, and inherit.</p>
					<p>By default, the line is set 1px, solid, and the same color of the text. </p>
					<p>
						However, it can be edited by other properties: <br>
						<br>
						&emsp;text-decoration-color: set color of a line.<br>
						&emsp;text-decoration-style: set style of a line, like wavy, double dashed, or dotted.<br>
						&emsp;text-decoration-thickness: set bold of a line.<br>
						&emsp;text-underline-offset: set a distance between text and a line.
					</p>
				</div>
			</div>
			<div class="container demo">
				<div class="inner">
					<h3>How to apply</h3>
					<div class="code">
						<p class="codepen" data-height="400" data-default-tab="html,result" data-slug-hash="PoOQYRM" data-editable="true" data-user="hare99" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
							<span>See the Pen <a href="https://codepen.io/hare99/pen/PoOQYRM">
							Untitled</a> by Tomo (<a href="https://codepen.io/hare99">@hare99</a>)
							on <a href="https://codepen.io">CodePen</a>.</span>
						</p>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="inner">
					<h2>Text shadow</h2>
					<p>The text-shadow property will set a shadow behind of a text. You can set an area respectively and color of shadow. Plus, you can apply multiple text shadow. </p>
					<p>This property accept 4 values at the same time.<br>
						<br>
						&emsp;First value: the horizontal distance of shadow<br>
						&emsp;Second value: the vertical distance of shadow<br>
						&emsp;Third value: the blur radius of shadow<br>
						&emsp;Fourth value: the color of the shadow.
					</p>
					<p>Using positive numbers as the first values and second values place a shadow to the right and blow of the text respectively<br>
						In contrast, using negative numbers place a shadow to the left and up.
					</p>
					<p>The third value, the blur radius, is an optional value. It's the amount of pixels the text is stretched which causes a blur effect. If you don't set this value, it's automatically set as zero.</p>
				</div>
			</div>
			<div class="container demo">
				<div class="inner">
					<h3>How to apply</h3>
					<div class="code">
						<p class="codepen" data-height="500" data-default-tab="html,result" data-slug-hash="QWOQWZQ" data-editable="true" data-user="hare99" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
							<span>See the Pen <a href="https://codepen.io/hare99/pen/QWOQWZQ">
							text-shadow-demo</a> by Tomo (<a href="https://codepen.io/hare99">@hare99</a>)
							on <a href="https://codepen.io">CodePen</a>.</span>
						</p>
					</div>
				</div>
			</div>
		</section>
	</main>
	<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
</body>
</html>