<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- -----FAVICON----- -->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	
	<!-- -----GOOGLE FONT----- -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Redressed&family=Zen+Kaku+Gothic+Antique:wght@300;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/basic-style.css">
	<link rel="stylesheet" href="../css/common.css">

	<title>Geeks {CSS}</title>

</head>
<body>
	<header class="flex">
		<div class="logo">
			<a href="../index.html"><img src="../img/logo-geeks-css.png" alt="logo"></a>
		</div>
		<nav>
			<ul class="flex">
				<li><a href="../index.html">home</a></li>
				<li class="current-page"><a href="#">vini</a></li>
				<li><a href="./tomo.html">tomo</a></li>
				<li><a href="./omar.html">omar</a></li>
				<li><a href="./emir.html">emir</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<div class="container">
				<div class="inner">
					<h2>Background Color</h2>
					<p>The <strong>background-color</strong> property sets the background color of an element.<br>
					The background of an element is the total size of the element, including padding and border (but not the margin).</p>
				</div>
			</div>
			<div class="container demo">
				<div class="inner">
					<h3>How to apply</h3>
					<div class="flex">
						<div class="code">
							<p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="MWOQwje" data-user="niciusfg" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
								<span>See the Pen <a href="https://codepen.io/niciusfg/pen/MWOQwje">
								Background Color</a> by Vinícius Guimarães (<a href="https://codepen.io/niciusfg">@niciusfg</a>)
								on <a href="https://codepen.io">CodePen</a>.</span>
							  </p>
							  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="inner">
					<h2>Background Image</h2>
					<p>The <strong>background-image </strong> property sets one or more background images for an element.<br>
					By default, a background-image is placed at the top-left corner of an element, and repeated both vertically and horizontally.</p>
				</div>
			</div>
			<div class="container demo">
				<div class="inner">
					<h3>How to apply</h3>
					<div class="flex">
						<div class="code">
							<p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="BamYNBM" data-user="niciusfg" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
								<span>See the Pen <a href="https://codepen.io/niciusfg/pen/BamYNBM">
								Background Image</a> by Vinícius Guimarães (<a href="https://codepen.io/niciusfg">@niciusfg</a>)
								on <a href="https://codepen.io">CodePen</a>.</span>
							  </p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="inner">
					<h2>Background Attachment</h2>
					<p>A background-image that will not scroll with the page (fixed):</p>
					<code>
						background-attachment: scroll | fixed | local | initial | inherit;
					</code>
				</div>
			</div>
			<div class="container demo">
				<div class="inner">
					<h3>How to apply</h3>
					<div class="flex">
						<div class="code">
							<p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="QWOQwJR" data-user="niciusfg" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
								<span>See the Pen <a href="https://codepen.io/niciusfg/pen/QWOQwJR">
								Untitled</a> by Vinícius Guimarães (<a href="https://codepen.io/niciusfg">@niciusfg</a>)
								on <a href="https://codepen.io">CodePen</a>.</span>
							  </p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container">
				<div class="inner">
					<h2>Background Size and Repeat</h2>
					<p>The <strong>background-size</strong> property specifies the size of the background images.<br>
						The <strong>background-repeat</strong> property sets if/how a background image will be repeated.
					</p>
					
				</div>
			</div>
			<div class="container demo">
				<div class="inner">
					<h3>How to apply</h3>
					<div class="flex">
						<div class="code">
							<p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="mdqXeMV" data-user="niciusfg" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
								<span>See the Pen <a href="https://codepen.io/niciusfg/pen/mdqXeMV">
								Background Size and Repeat</a> by Vinícius Guimarães (<a href="https://codepen.io/niciusfg">@niciusfg</a>)
								on <a href="https://codepen.io">CodePen</a>.</span>
							  </p>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>
</body>
</html>